---
layout: page
title: Starting a Chapter
permalink: /starting/
---

p = start_sentence('starting')

p There's no formal structure. It's really just as simple as picking out a meeting place and publicizing it, including tell us about it.

p #{contact_sentence}