---
layout: page
title: Starting a Chapter
permalink: /starting/
---

p = start_sentence('starting')

p There's no formal structure. (See <a href="/about">here</a> for more information.) It's really just as simple as picking out a meeting place and publicizing it.

p Many chapters have their own Twitter accounts, such as <a href="http://twitter.com/nscodernightsf">San Francisco</a> and <a href="http://twitter.com/NSCoderBA">Buenos Aires</a>. Others use <a href="http://meetup.com">Meetup.com</a> or a Google Groups mailing list.

p Once you have some details, let us know! See the README at <a href="http://github.com/nscodernight/nscodernight">http://github.com/nscodernight/nscodernight</a> on how to add or edit your chapter page on the website.

p #{contact_sentence}