---
layout: page
title: About NSCoderNight
permalink: /about/
---

p NSCoderNight is a chance for developers on Apple's platforms and their friends to come together every week for a little conversation and coding.

p It's typically held every <B><I>Tuesday from 7 to 10 p.m.</I></B> at an Internet cafe or coffee shop. Your local chapter may be different, so be sure to check their page for details.

p = start_sentence('')
	
p #{contact_sentence}