---
layout: page
pageable: true
per_page: 5
---
ruby:
  if paginate
    @pagination_links = {
      current: page_number,
      total: num_pages,
    }
    @pagination_links[:previous] = {href: prev_page.url} if prev_page
    @pagination_links[:next] = {href: next_page.url} if next_page
  end

  page_scope = case page_type
    when 'day'
      Date.new(year, month, day).strftime('%B %-d, %Y')
    when 'month'
      Date.new(year, month, 1).strftime('%B %Y')
    when 'year'
      year
  end

  @title = "Archive for #{page_scope}"

ul.post-list
	- for article in page_articles
		== partial('partials/post_in_list', locals: {article: article})				